#robo_factory
= javascript_pack_tag 'robo_factory'

// <h2>Requires Attention</h2>
// <section class="row text-center">
//   <div class="col-6 col-sm-3 robot">
//     <h4>Robot #1</h4>
//     <div class="text-muted">On Fire and Sentient</div>
//     <button class="btn btn-info">Extinguish</button>
//   </div>
//   <div class="col-6 col-sm-3 robot">
//     <h4>Robot #2</h4>
//     <span class="text-muted">Extinguished</span>
//   </div>
//   <div class="col-6 col-sm-3 robot">
//     <h4>Robot #3</h4>
//     <span class="text-muted">On Fire and Sentient</span>
//     <button class="btn btn-info">Extinguish</button>
//   </div>
//   <div class="col-6 col-sm-3 robot">
//     <h4>Robot #4</h4>
//     <span class="text-muted">On Fire and Sentient</span>
//     <button class="btn btn-info">Extinguish</button>
//   </div>
// </section>
// <h2>No Attention Required</h2>
// <section class="row text-center">
//   <div class="col-6 col-sm-3 robot">
//     <h4>Robot #5</h4>
//     <div class="text-muted">Passed check</div>
//   </div>
//   <div class="col-6 col-sm-3 robot">
//     <h4>Robot #6</h4>
//     <span class="text-muted">Passed check</span>
//   </div>
//   <div class="col-6 col-sm-3 robot">
//     <h4>Robot #7</h4>
//     <span class="text-muted">Passed check</span>
//   </div>
//   <div class="col-6 col-sm-3 robot">
//     <h4>Robot #8</h4>
//     <span class="text-muted">Passed check</span>
//   </div>
// </section>
// </main>